html, body {
  height: 100%;
}
.navbar {
  margin-bottom: 0px !important;
}
.navbar-default {
  padding-top: 20px;
  background-color: transparent !important;
  border-color: transparent !important;
}
.navbar-brand{
  font-size: 42px !important;
}
.navbar-default .navbar-nav>li>a {
    font-size: 22px !important;
    margin: auto 0;
}
.navbar-default .navbar-nav>li>a:hover {
    color: yellow !important;
}
.navbar-default .navbar-brand:hover {
    color:yellow !important;
}
.row {
  margin: 0px 0px 0px 0px !important;
}

.row-1 {
  height: 100%;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1472722266948-a898ab5ff257?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1191&q=80);
  background-repeat: no-repeat;
  background-size: cover;
}
.row-2 {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(45deg, #d6ffcc, #ffcccc);
}
.row-3 {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(45deg, #ccffff, #ffcccc);
}
