html, body {
  width: 100%;
  height: 100%;
}
.navbar {
  margin-bottom: 0px !important;
}
.navbar-default {
  padding-top: 20px;
  background-color: transparent !important;
  border-color: transparent !important;
}
.navbar-brand{
  font-size: 42px !important;
  font-family: 'Righteous', cursive !important;
  text-shadow: 1px 1px 2px greenyellow,
               1px 1px 2px black;
  color: white !important;
  opacity: 0.5;
}
.navbar-default .navbar-nav>li>a {
    font-size: 22px !important;
    font-family: 'Lobster', cursive !important;
    color: white !important;
    text-shadow: 1px 1px 2px greenyellow;
    opacity: 0.7;
   
}
.navbar-default .navbar-nav>li>a:hover {
    color: yellow !important;
    opacity: 1;
}
.navbar-default .navbar-brand:hover {
    color:yellow !important;
    opacity: 1;
}

.home-label {
  margin: 13% auto !important;
  color: white;
  text-align: center;
}

#h2-home {   
  font-size: 130px !important;
  font-family: 'Lobster', cursive !important;
  text-shadow: 3px 3px 20px black !important;
  padding: 2px;  
}

#p-home {
  font-size: 150% !important;
  font-family: 'Amatic SC', cursive !important;
  font-weight: bold !important;
  text-shadow: 1px 1px 2px goldenrod,
               1px 1px 2px black,
               1px 1px 2px black;
  padding: 5px;
}

.btn-home {
  transform: scale(1.5);
  background-color: yellow !important;
  border-color: transparent !important;
  font-weight: bold !important;
  box-shadow: -1px 1px 1px 1px rgba(0, 0, 0, .2),
              -1px 1px 1px 1px rgba(0, 0, 0, .2);
  border-radius: 50px !important;
  margin-top: 10px;
  letter-spacing: 2px;
}

#layout-1 {
  height: 100%;
  background-image: url(https://images.unsplash.com/photo-1472722266948-a898ab5ff257?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1191&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.jumbotron {
  background-image: linear-gradient(45deg, #ccffff, hsla(182, 91%, 58%, 0.616));
}

#layout-2 {
  height: inherit;
  background-image: url(https://images.unsplash.com/photo-1529156069898-49953e39b3ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#layout-3 {
  min-height: 100%;
  background-image: linear-gradient(0deg, lightyellow, lightgreen);
  overflow: scroll;
}
.row {
   margin-top: 14% !important;
   margin-left: 7% !important;
}

.learn-grid {
  min-height: 300px;
  max-width: 300px;
  color: white;
  background-color: green;
  float: left;
  margin-right: 35px;
  margin-bottom: 15px;
  padding: 20px;
  text-align: center;
  box-shadow: -1px 1px 4px 4px rgba(26, 179, 206, 0.26),
              -1px 1px 4px 4px rgba(255, 255, 255, .2);
  border-radius: 5px;
}
.business-grid {
  min-height: 300px;
  max-width: 300px;
  color: green;
  background-color: white;
  float: left;
  margin-right: 35px;
  margin-bottom: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: -1px 1px 4px 4px rgba(26, 179, 206, 0.26),
              -1px 1px 4px 4px rgba(255, 255, 255, .2);
  border-radius: 5px;
}
.fun-grid {
  min-height: 300px;
  max-width: 300px;
  color: white;
  background-color: green;
  float: left;
  margin-right: 35px;
  margin-bottom: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: -1px 1px 4px 4px rgba(26, 179, 206, 0.26),
              -1px 1px 4px 4px rgba(255, 255, 255, .2);
  border-radius: 5px;
}
h1 {
  font-weight: bold !important;
}

#layout-4 {
  background-image: linear-gradient(0deg, #ccffff, hsla(123, 91%, 58%, 0.616));
}
